<!-- src/app/components/todo-main/todo-bar/todo-sort/todo-sort.component.html -->
<button
  (click)="toggleSort()"
  class="cursor-pointer inline-flex items-center px-4 py-2 border border-gray rounded-lg text-sm font-medium text-dark bg-light hover:bg-gray/5 focus:outline-none focus:ring-1 focus:ring-primary"
>
  <span>Due Date</span>
  <ng-icon
    *ngIf="currentSort === 'none'"
    name="heroChevronUpDown"
    class="ml-2 h-4 w-4"
  ></ng-icon>
  <ng-icon
    *ngIf="currentSort === 'asc'"
    name="heroChevronUp"
    class="ml-2 h-4 w-4"
  ></ng-icon>
  <ng-icon
    *ngIf="currentSort === 'desc'"
    name="heroChevronDown"
    class="ml-2 h-4 w-4"
  ></ng-icon>
</button>
