<mat-card class="todo-item">
  <div class="todo-header" (click)="toggleExpand()">
    <div class="todo-main">
      <mat-checkbox
        [checked]="todo.completed"
        (change)="onStatusChange($event.checked)"
        (click)="$event.stopPropagation()"
      >
      </mat-checkbox>
      <span class="title" [class.completed]="todo.completed">{{
        todo.title
      }}</span>
    </div>

    <mat-icon class="expand-icon" [class.expanded]="isExpanded"> </mat-icon>
  </div>

  <div class="todo-details" *ngIf="isExpanded">
    <p class="description" *ngIf="todo.description">{{ todo.description }}</p>
    <p class="due-date" *ngIf="todo.due_date">
      Due: {{ dateService.formatForDisplay(todo.due_date) }}
    </p>
    <div class="actions">
      <button mat-button color="warn" (click)="onDelete()">
        <mat-icon></mat-icon>
        Delete
      </button>
    </div>
  </div>
</mat-card>
