<!-- src/app/components/todo-main/todo-list/todo-list.component.html -->
<div>
  <!-- Todo Items -->
  <div class="divide-y divide-gray/10">
    <app-todo-item
      *ngFor="let todo of todos"
      [todo]="todo"
      [isExpanded]="todo.id === expandedTodoId"
      mode="display"
      (todoUpdated)="onTodoUpdated($event)"
      (todoDeleted)="onTodoDeleted($event)"
      (expanded)="onTodoExpanded($event ? todo.id ?? null : null)"
      class="block"
    >
    </app-todo-item>
  </div>

  <!-- No Todos State -->
  <app-no-todos
    *ngIf="todos.length === 0"
    [message]="'No todos yet'"
    [showAddHint]="true"
  >
  </app-no-todos>
</div>
